*{
    margin: 0;
}

@mixin iconos-nav {
    
    svg{
        height: 45px;
        width: 26px;
        border-radius: 56px;
        margin-right: 10px;
        &:hover{
            background-color:rgba(0, 0, 0, 0.035);
        }
    }
    
}

.encabezado{
    // border: 3px solid rebeccapurple;
    width: 100%;
    height: 60px;
    display:flex;
    justify-content:row;
    background-color: white;
    position: fixed;
  z-index: 100;
  
    .barra-nav{
        display: flex;
        // border: yellow 3px solid;
        // background-color:orange;
        max-width: 100%;
        min-width: 320px;
        box-shadow: 0 1px 1px rgba(0,0,0,0.1);
        justify-content: space-around;
        height: 56px;
        // padding: 15px;

        .hamburguesa>button{
            padding-top: 15px;
            float: left;
            outline: none;
            background: white;
            border: 0px solid transparent;
        }
        @media (min-width: 768px) {
            .hamburguesa{
                display:none;
                
            }
        }
        .logo{
            max-width: 200px;
            display: inline-flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            box-sizing: border-box;
            margin-right: 10px;
            padding-top: 5px;
            // float: right;
            &>.logo-dev img {
                height: 40px;
                width: 50px;
            }
        }
        .buscador{
            // border: 3px solid purple;
            display: flex;
            width: 1300px;
            padding-top: 5px;
            flex-wrap: wrap;
            .buscador-form {
                padding: 0px;
                outline: 0;
                display: flex;
            
                &>input {
                    // padding: 0;
                    height: 36px;
                    width: 400px;
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                    outline: none;
                    background:white;
                    border: 1px solid black;
                    border-right: 0px solid transparent;
                    font-size: 16px;
                }

                &>button {
                    height: 40px;
                    float: right;
                    outline: none;
                    background: white;
                    border: 1px solid black;
                    border-left: 0px solid transparent;
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                    box-decoration-break: none;
                    margin-left: -30px;
                }

                button>svg{
                    // border: orangered 1px solid;
                    border-radius: 50px;
                    height: 35px;
                    width: 30px;
                    background-color: transparent;
                    svg:hover{
                        border: solid 1px #1b1b1b;
                        background-color: #1b1b1b;
                    }
                }

                @media (max-width: 780px) {
                    .buscador{
                        width: 5px;
                        justify-content: flex-end;
                    }
                    input{
                        display: none;
                    }
                    button{
                        float: right;
                        border-radius: 5px;
                        margin-left: 500px;
                        // margin-left: 5px;
                        border-left: 1px solid black;
                        justify-content: flex-end;
                    }
                    
                }
                
            }
        }
        .left{
            display: flex;
            // border: 2px solid navy;   
            width: 500px;
            padding: 5px;
            justify-content: flex-end;

            .post-form-btn{
                Background-color: #3b49df;
                display: block;
                color: white;
                box-sizing: border-box;
                border-radius: 5px;
                font: size 16px;
                font-weight: 500;
                height: 43px;
                margin-right: 10px;
                text-align: center;
                font-family: roboto, arial, helvetica, sans-serif;
        
                &:hover{
                    Background-color: #323ebe;
                }
            }
            @media (max-width: 768px) {
                .post-form-btn{
                    display: none
                }
            }
            
                
            .chat{
                @include iconos-nav; 
        
            }

            .bell{
                @include iconos-nav;
            }
            .profile{
                display: flex;
                flex-direction: column;
                a>img{
                    height: 45px;
                    width: 45px;
                    border-radius: 50px;
                    }
                }
                .collapse-bar{
                    display: none;
                }
                ul{
                    margin: 0;
                    padding: 0;
                    width: 150px;

                    li{
                        text-align: start;
                        padding: 5px;  
                    }
                }
                
                &:hover{
                    .collapse-bar{
                        display: block;
                        box-sizing: border-box;
                        background-color: white;
                        border: 1px solid black;
                        list-style: none;
                        text-align: left;
                        li:hover{
                            background-color: rgba(0, 0, 0, 0.05);
                        }
                    }
            }


        }
    }
}
